# The location of your instance of Seamless Auth
AUTH_SERVER_URL=http://localhost:5312

UI_ORIGINS=http://localhost:5173,http://localhost:5174

# Optional cookie domain for production, for example .example.com
COOKIE_DOMAIN=

# Secret to sign API-generated cookies with
COOKIE_SIGNING_KEY=somethingSecret

# Secret shared between this API server and Seamless Auth
API_SERVICE_TOKEN=GRAB_FROM_SEAMLESS_AUTH_PORTAL

JWKS_KID=dev-main

DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=seamless_api

DB_LOGGING=false
